body {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	text-align: center;
	background-color: #f5a623;
}

h1 {
	margin: 0;
	margin-bottom: 0.5rem;
	font-family: 'Montserrat', sans-serif;
}

.input {
	border: 2px solid rgb(61, 60, 60);
	border-radius: 0.3rem;
	padding: 0.3rem;
	width: 12em;
	font-family: 'Roboto', sans-serif;
	outline: none;
}

select {
	margin-left: 0.5rem;
	width: 60px;
	font-weight: bold;
	border: 2px solid #2f363f;
	outline: none;
	height: 29px;
	/* font-family: 'Roboto', sans-serif; */
	font-family: 'Montserrat', sans-serif;
}

.equals {
	font-weight: bold;
	font-size: 2rem;
	/* margin-top: -10px; */
}

@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	h1 {
		font-size: 80px;
	}

	.input {
		padding: 1rem;
		width: 25em;
		font-size: 20px;
		font-weight: bold;
	}

	select {
		margin-left: 0.5rem;
		width: 67px;
		font-weight: bold;
		border: 2px solid #2f363f;
		outline: none;
		height: 51px;
		/* font-family: 'Roboto', sans-serif; */
		font-family: 'Montserrat', sans-serif;
	}

	.equals {
		font-weight: bold;
		font-size: 2rem;
		/* margin-top: -10px; */
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	h1 {
		font-size: 70px;
	}
	.input {
		padding: 1.2rem;
		width: 30em;
		font-size: 16px;
		font-weight: bold;
	}
	select {
		margin-left: 0.5rem;
		width: 80px;
		height: 50px;
		font-size: 20px;
	}
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
}

@media (max-width: 577px) {
}

/********** Large Mobile devices only **********/
@media (max-width: 450px) {
}

/********** Medium Mobile devices only **********/
@media (max-width: 380px) {
}

/********** small Mobile devices only (eg: Iphone 4, ) **********/
@media (max-width: 330px) {
}

/* Responsive view styling ends */
/* ********************************************************** */
